
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}
/*...................................................*/
html{
  height: 100%;
}
body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
.visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper{
  width:1200px;
  margin:0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.6);
}
/*topic title*/
.topic_title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.topic_description{
  font-size: 22px;
  line-height: 26px;
}
.link{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.list{
  list-style: none;
  margin: 0;
  padding: 0;
}


    /*..............HEADER...................*/
    .header_logo{
      z-index: 2;
    }
     .page_header {
  background-color: #FFFFFF;
  height: 64px;
  }
.navigation_header{
  display: flex;
  width: 1060px;
  margin: 0 auto;

  }
.navigation_list{
display: flex;
width: 507px;
margin-left: auto;
}
.navigation_user{
  display: flex;
  width: 270px;
  margin-right: auto;
}
.navigation_item{
  padding: 20px 16px;
}
.navigation_item.like{
  padding-right: 0;
}
.navigation_link {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
}
.button_item{
width: 100%;
padding: 20px 0 14px 20px;
}
.button_header_link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  padding: 8px 28px;
   }
    /*..................HERO.................*/
.main_container {
  flex-grow: 1;
}
.main_index{
  display: flex;
  flex-direction: column;
  }
.index_title{
  width: 100%;
  min-height: 485px;
  background: url(../img/svg/decoration.svg)  no-repeat bottom,
              url(../img/jpeg/background/index-back.jpg) no-repeat;
 background-size: 100% auto;
 justify-content:center;
  text-align:center;
}
.index_title img{
  margin: 51px 0 82px 0;
    }
.about_title {
  background-color: #FFF;
  color: #000;
    }
  .sup_about_title{
     text-align: center;
    width: 800px;
    margin: 70px auto 25px;
  }
  .description_about_title{
    text-align: center;
    margin: 0 auto 90px;

  }
      /*...................ADVANTAGES...................*/
.advantages{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  }
.advantages_title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;

}
/*
.advantages_title::after{
content: '';
  background-color: #FFFFFF;
  width: 60px;
  height: 2px;
  display: block;
position: absolute;
 }*/

.advantages_list{
  display: flex;
  margin: 0;
  padding: 0;
}
.tile_1 li:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
 .tile_2 li:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
 .advantages_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.advantages_item.blue {
  background-color: #82B3D3;
  color: #FFF;
}
.advantages_item.road{
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages_item.food{
  background-color:#FFF;
}
/*................SEARCH HOTELS.....................*/
.hotel{
  width: 100%;
  min-height: 406px;
  display: flex;
  flex-direction: column;
   }
   .search_box{
    text-align: center;
    margin: 96px auto;
    }
.search_hotel {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  background-color: rgba(117, 97, 87, 1);
   padding: 20px 70px;
  border-radius: 4px;
}
.title_hotel{
  margin: 0 auto 20px;
}
.description_hotel{
  margin: 0 auto 54px;
}

/*......................SUBSCRIBE.............................*/
.subscribe_box{
margin: 96px auto;
text-align: center;
}
.subscribe {
  background: url("../img/jpeg/background/background-sub.jpg") no-repeat;
  background-size: 100% auto;
  color: #FFF;
}
.subscribe_title{
margin: 0 auto 20px;
}
.subscribe_description{
  margin: 0 auto 54px;
}
.field {
  width: 452px;
  height: 50px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border-radius: 5px 0 0 5px;
  border:0;
  background-color: #F2F2F2;
}
.subscribe_button {
 background-color:rgba(130, 179, 211, 1);
 padding: 8px 50px;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 20px;
 line-height: 36px;
 color: #FFFFFF;
 border-radius: 0 4px 4px 0;
 user-select: none;
 cursor: pointer;
 border:0;
}
/*.........................FOOTER.........................*/
.page_footer {
  background-color: #FFFFFF;
  width: 100%;
}
.footer-contacts-phone {
color: #000000;
font-size: 40px;
line-height: 40px;
}

/*..................PAGE2.......................*/
.inner_header{
  background: url("../img/jpeg/background/catalog-back.jpg") no-repeat;
  background-size: cover;
}
.inner_header_title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}
 .breadcrumbs-link{
  color: #FFFFFF;
  font-size: 16px;
}
.catalog_filter_group{
  border: 0;
  color: #FFFFFF;
}
.catalog_filter_title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
}

/*.......RANGE.....*/
.range_number{
  padding: 12px 20px;
  border: none;
  line-height: 24px;
}
.range_number.min{
  border-radius: 4px 0 0 4px;
}
.range_number.max{
  border-radius: 0 4px 4px 0;
}
/*...........BUTTON..........*/
.button{
  background-color:rgba(130, 179, 211, 1);
  padding: 8px 50px;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #FFFFFF;
 border-radius:4px;
 user-select: none;
 cursor: pointer;
 border:0;
}
.button[type=reset] {
  background-color: transparent;
}
/*............CATALOG..........*/
/*select bar*/
.catalog_search{
  background-color: #FFFFFF;
}
.select_control{
width: 292px;
min-height: 49px;
border-radius: 4px;
border:2px solid rgba(229, 229, 229, 1);
}
.veiw_button{
border-radius: 4px;
border: 2px solid #000000;
padding: 16px 17px;
user-select: none;
}
/*CARD*/
.hotel_item{
  border-radius: 4px;
  border: 2px solid rgba(230, 230, 230, 1);
  width: 340px;
  min-height: 438px;
  padding: 20px;
}
 .hotel_card_link{
font-size: 24px;
font-weight: 700;
line-height: 28px;
color: #000000;
}
.hotel_card_rating{
  background-color:#F2F2F2;
  padding: 8px 50px;
 text-transform: uppercase;
 font-size: 16px;
 line-height: 20px;
 color: rgba(51, 51, 51, 1);
 border-radius:4px;
 user-select: none;
 cursor: pointer;
 border:0;
}
/*....PAGINATION.....*/
.pagination_item{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.pagination_link{
  color: #FFFFFF;
}
.pagination_current,
.pagination_dots{
  color: #000000;
}
.active,
.dots{
  background-color: #F2F2F2;
}

/*......................SUBSCRIBE.............................*/
.subscribe_second {
  width: 100%;
  min-height: 415px;
  background-color: #FFFFFF;
  }
