
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: contain;
  vertical-align: top;
}
:root{
/*button*/
  --button-green:rgba(125, 181, 79, 1);
  --button-blue: rgba(130, 179, 211, 1);
  --button-brown:rgba(117, 97, 87, 1);
/*button hover*/
  --button-hover-green:rgba(108, 158, 66, 1);
  --button-hover-blue: rgba(104, 162, 202, 1);
  --button-hover-brown:rgba(97, 80, 72, 1);

/*text*/
  --text-black:  rgba(0, 0, 0, 1);
  --text-gray:   rgba(51, 51, 51, 1);
  --text-white:  rgba(255, 255, 255, 1);
  --text-opacity:rgba(255, 255, 255, 0.3);
  --text-error:  rgba(255, 87, 87, 1);
/*background*/
  --backround-white:   rgba(255, 255, 255, 1);
  --backround-blue:    rgba(130, 179, 211, 1);
  --backround-second-1:rgba(131, 179, 211, 0.12);
  --backround-second-2:rgba(131, 179, 211, 0.2);
  --background-safe:   rgb(117,97,84);
/*form*/
  --form-input:    rgba(63, 94, 114, 1);
  --form-element-1:rgba(229, 229, 229, 1);
  --form-element-2:rgba(242, 242, 242, 1);
/*icons*/
  --icon-black:rgba(0, 0, 0, 1);
  --icon-blue: rgba(131, 179, 211, 1);
  --icon-green:rgba(125, 181, 79, 1);
/*card*/
  --border-card: rgba(230, 230, 230, 1);
/*pseudo*/
  --pseudo-color-black: rgba(0, 0, 0, 0.3);
  --pseudo-color-grey:    rgba(255, 255, 255, 0.3);

}
/*...................................................*/
html{
  height: 100%;
}
body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-black);
  background-color: var(--form-element-2);
  min-height: 100%;
  margin: 0;
}
.visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border:none;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper{
  width:1200px;
  margin:0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 10px 1px rgba(34, 60, 80, 0.6);
}

[class*="__content"]{
  width: 1060px;
  margin: 0 auto;
}
/*topic title*/
.topic_title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.topic_description{
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.link{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.list{
  list-style: none;
  margin: 0;
  padding: 0;
}


    /*..............HEADER...................*/
    .navigation_header__content,
    .page_header{
      display: flex;
      background-color:var(--backround-white);

    }
    .header_logo{
      z-index: 2;
      margin-right: 28px;
      position: absolute;
    }
    .navigation_list{
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: 285px;
    }

    .navigation_link{
      display: block;
      padding: 20px 16px;
      font-size: 20px;
      font-weight: 700;
      color:var(--text-black);
    }

    .navigation_user{
      display: flex;
     }
    .navigation_user .navigation_link{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 64px;
      min-width: 44px;
    }
    .navigation_item.like{
      margin-right: 20px;
    }
    .button_item{
      min-width: 160px;
    }

    .button_header_link{
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      color: var(--text-white);
      background-color: var(--button-brown);
      border-radius: 4px;
      border:none;
      display: block;
      padding: 8px 34px;
      margin: 14px 0;
    }
    /*..................HERO.................*/

.main_index{
  display: flex;
  flex-direction: column;
  }
.index_title{
  width: 100%;
  min-height: 485px;
  background-color: var(--background-safe);
  background: url(../img/svg/decoration.svg)  no-repeat bottom,
              url(../img/jpeg/background/index-back.jpg) no-repeat;
 background-size: 100% auto;
 justify-content:center;
  text-align:center;
}
.index_title img{
  margin-top: 51px;
    }
.about_title {
  background-color: var(--backround-white);
  color: var(--text-black);
    }
  .sup_about_title{
     text-align: center;
    width: 800px;
    margin: 70px auto 25px;
  }
  .description_about_title{
    text-align: center;
    margin: 0 auto 90px;
    color: var(--text-gray);

  }
      /*...................ADVANTAGES...................*/

  .advantages_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  "town   img    img"
                          "square road   tourist"
                          "bridge bridge devil"
                          "home   food   gift";
  }
   .advantages_item{
    display: grid;
    padding: 92px 85px 111px;
    margin: 0;
    text-align: center;
    background-color: var(--backround-second-1);
    max-height: 384px;
  }
  .advantages_item.text_card{
    padding: 103px 85px 121px;
  }
  .card_town{
    grid-area: town;
  }
  .img_town{
    grid-area: img;
  }
  .square{
    grid-area: square;
  }
  .road{
    grid-area: road;
    background-color: var(--backround-second-2);
  }
  .tourist{
    grid-area: tourist;
  }
  .img_bridge{
    grid-area: bridge;
  }
  .devil{
    grid-area: devil;
  }
  .home{
    grid-area: home;
  }
  .food{
    grid-area: food;
    background-color: var(--backround-white);
  }
  .gift{
    grid-area: gift;
  }
  .advantages_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 62px 0;
    padding: 0;
    position: relative;
    }
    .advantages_title::before{
      display: block;
      width:60px;
      height: 2px;
      background-color: var(--pseudo-color-black);
      content: '';
      position: absolute;
      right: 85px;
       bottom: -30px;}
       .blue .advantages_title::before{
        background-color: var(--pseudo-color-grey);
       }
      .advantages_item_feature .advantages_title::before{
        display: none;
       }
    .advantages_description{
      margin: 0;
      }
    .advantages_item.blue{
      background-color: var(--backround-blue);
      color: var(--text-white);
    }
    .advantages_item_feature{
      display: grid;
      justify-items: center;
      text-align: center;
      padding: 80px 85px 81px;
    }
    .advantages_item_feature .advantages_title,
    .advantages_item_feature img{
      margin: 0 0 30px 0;
    }

 /*................SEARCH HOTELS.....................*/
.hotel{
  width: 100%;
  min-height: 406px;
  display: flex;
  flex-direction: column;
  background-color: var(--backround-white);
  padding: 96px;
   }
   .search_box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
    }
.button_search_hotel {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--button-brown);
   padding: 8px 50px;
  border-radius: 4px;
}
.title_hotel{
  margin: 0 auto 20px;
}
.hotel_description{
  margin: 0 auto 54px;
}

/*......................SUBSCRIBE.............................*/
.subscribe {
  background-color:var(--background-safe);
  background: url("../img/jpeg/background/background-sub.jpg") no-repeat;
  background-size: 100% auto;
  color: var(--text-white);
  padding: 96px 0 104px;
}
.subscribe_box{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
}

.subscribe_form{
  display: flex;
  justify-content: center;
}
 .subscribe_title{
margin: 0 auto 20px;
}
.subscribe_description{
  margin: 0 auto 54px;
  max-width: 480px;
}
.field {
  width: 452px;
  height: 52px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border-radius: 5px 0 0 5px;
  border:none;
  background-color: var(--form-element-2);
}
.subscribe_button {
 background-color:var(--button-blue);
 padding: 8px 50px;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 20px;
 line-height: 36px;
 color: var(--text-white);
 border-radius: 0 4px 4px 0;
 user-select: none;
 cursor: pointer;
 border:none;
}
/*.........................FOOTER.........................*/
.page_footer__content {
  background-color: var(--backround-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 35px 0;
}
.page_footer{
  background-color: var(--backround-white);
  margin-top: auto;
}
.social_footer{
  max-width: 145px;
}
 .social_footer_list{
  display: flex;
  flex-wrap: wrap;
  }
  .social_footer_item{
    min-width: 24px;
    min-height: 14px;
  }
 .footer_item_link{
  padding: 13px 12px;
 }
 .footer_contacts_phone {
  color: var(--text-black);
  font-size: 40px;
  line-height: 40px;
     }
     .academy{
      max-width: 115px;
     }
  .academy_link{
    padding-top: 20px;
  }



/*..................PAGE2.......................*/
.inner_header{
  background-color: var(--background-safe);
  background: url("../img/jpeg/background/catalog-back.jpg") no-repeat;
  background-size: cover;
  padding: 35px 0 70px;
}
.inner_header_title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: var(--text-white);

margin: 0;
}
.breadcrumbs_list{
  display: flex;
  margin:8px 0 40px;
}
.breadcrumbs_item.arrow{
  margin: 0 11px;
}
 .breadcrumbs_link{
  color: var(--text-white);
  font-size: 16px;
}
/*..FILTER...*/
.main_inner{
  background-color: var(--backround-white);
}

.catalog_filter{
  display: flex;
  }
.catalog_filter_title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  }
  .catalog_filter_item:not(:last-child){
margin-bottom: 16px;
  }
.control_input{
  margin-right: 16px;
}
input[type="checkbox"],
input[type="radio"]{
  transform:scale(1.8);
}


.catalog_filter_group{
  padding: 0;
  border:none;
  color: var(--text-white);
}
.catalog_filter_group.checkbox{
  margin-right:70px;
  min-width: 150px;
}
.catalog_filter_group.radio{
  margin-right:140px;
  min-width: 150px;
}
.catalog_filter_group.price{
  margin-right:70px;
  min-width: 288px;
}


.catalog_filter_price_box{
  display: flex;
}
.button_filter_box{
margin-top: 56px;
}
.button_filter {
  background-color: var(--button-blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-white);
  border-radius:4px;
  user-select: none;
  cursor: pointer;
  border:none;
  }
.apply {
  padding: 8px 50px;
  margin-bottom: 32px;
}
.reset {
  padding: 8px 57px;
  background-color: transparent;
}



/*.......RANGE.....*/
.range_number{
  padding: 12px 20px;
  border:none;
  line-height: 24px;
}
.range_number.min{
  border-radius: 4px 0 0 4px;
}
.range_number.max{
  border-radius: 0 4px 4px 0;
}
/*............CATALOG..........*/
/*select bar*/
.catalog_search__content{
  background-color: var(--backround-white);
}
.select_bar{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px;
  align-items: center;
}
.catalog_search_title{
  margin: 0;
  padding: 0;
}
.select_control{
width: 292px;
min-height: 49px;
border-radius: 4px;
border:2px solid var(--form-element-1);
}
/*veiw button*/
.veiw_bar{
  display: flex;
}
.veiw_button{
  display: flex;
  justify-content: center;
  align-items: center;
border-radius: 4px;
outline: 2px solid var(--icon-black);
padding: 13px 14px;
user-select: none;
}
.veiw_button:not(:last-child){
  margin-right: 8px;
}
/*....................CARD..................*/

.hotel_card_list{
  display: grid;
}









/*.hotel_card_list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
  position: relative;
}

.hotel_card_list::before{
  display: block;
  width:100%;
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--border-card);
 bottom: -40px;
   }

.hotel_item{
  border-radius: 4px;
  outline: 2px solid var(--border-card);
  width: 340px;
  min-height: 438px;
  padding: 20px;
  margin: 0;
}
.hotel_card_title{
margin: 16px 0;
font-size: 24px;
font-weight: 700;
line-height: 28px;
}
.hotel_card_link{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-black);
  }
.price_line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--text-gray);
}*/




/*button card*/
.button_line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.button_card{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: var(--text-white);
border:none;
border-radius: 4px;
user-select: none;
cursor: pointer;
}
.more{
  padding: 8px 26px;
  background-color: var(--button-brown);
}
.chose{
  padding: 8px 20px;
  background-color: var(--button-blue);
}
.favorites{
  background-color: var(--button-green);
  padding: 8px 18px;
}
/*rating*/
.rating_line{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.rating{
  font-weight: 400;
  color: var(--text-gray);
  background-color: var(--form-element-2);
  padding:9px 22px 8px 23px;
  cursor:default;
  }


/*....PAGINATION.....*/
.pagination_list {
display: flex;
align-items: center;

}
.pagination_item{
  min-height: 60px;
  padding-top: 10px;

}
.pagination_item:not(:last-child){
  margin-right: 8px;
}

.pagination_link{
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--text-white);
  padding: 12px 24px;
  background-color: var(--backround-blue);
  border:none;
  border-radius: 4px;
}
.pagination_current{
  background-color: var(--form-element-2);
  color: var(--text-black);
}
.pagination_dots{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  padding: 16px 22px;
  border:none;
  border-radius: 4px;
}
/*......................SUBSCRIBE.............................*/
.subscribe_second {
  width: 100%;
  min-height: 415px;
  background-color: var(--backround-white);
  padding: 96px 0 104px;
  }
